__pycache__
clojure/.calva/output-window/output.calva-repl
clojure/.cpcache/3076720795.basis
clojure/.cpcache/3076720795.cp
clojure/.cpcache/3076720795.libs
clojure/.calva/output-window/.clj-kondo/config.edn
clojure/.calva/output-window/.clj-kondo/.cache/2020.11.07/lock
clojure/.nrepl-port
