<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
        crossorigin="anonymous" />
    <title>Picture1</title>
</head>
<!-- <div class="text container">
    <div class="ui segment">
        <h3></h3>
        <p></p>
    </div>
</div> -->

<body>

    <button id='home-btn' class='ui button large'><a href='../index.html'>Back to home</a></button>
    <div class='ui grid page'>
        <div class=" row">
            <div class="eight wide column">
                <img src='../images/WhatsApp Image 2020-10-12 at 1.31.07 PM.jpeg'
                    class='ui massive bordered image centered'>
            </div>
            <div class="eight wide column">
                <div class="text container">
                    <div class="ui segment">
                        <h3>1</h3>
                        <p>1 - wood <br>
                            2 - steel <br>
                            3 - ceramic <br>
                            4 - gold <br>
                            5 - glass <br>
                            6 - plastic</p>
                    </div>
                </div>
                <div class="text container">
                    <div class="ui segment">
                        <h3>2</h3>
                        <p>1-b <br> 2-c <br> 3-a <br> 4-f <br> 5-d <br> 6-e <br> 7-h <br> 8-g </p>
                    </div>
                </div>
                <div class="text container">
                    <div class="ui segment">
                        <h3>3</h3>
                        <p>1 - ferrous and non-ferrous metals <br>
                            2 - Iron is soft and pasty and for this reason it is not suitable <br>
                            to be used as a structural material. <br>
                            3 - They are used to improve some properties of the metals. <br>
                            4 - plastic and ceramic <br>
                            5 - Yes, it is an alloy made of iron and carbon.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<style>
    .text {
        margin: 10px;
    }

    .container {
        margin-top: 100px !important;
        width: 60% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    div.grid.page {
        max-width: 90%;
        width: 100%;
    }

    img {
        margin: 10px;
    }


    button {
        font-size: 1.3vw !important;
        margin: 10px !important;
    }
</style>

</html>