<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
        crossorigin="anonymous" />
    <title>Picture2</title>
</head>
<!-- <div class="text container">
    <div class="ui segment">
        <h3></h3>
        <p></p>
    </div>
</div> -->

<body>

    <button id='home-btn' class='ui button large'><a href='../index.html'>Back to home</a></button>
    <div class='ui grid page'>
        <div class=" row">
            <div class="eight wide column">
                <img src='../images/WhatsApp Image 2020-10-12 at 1.31.14 PM.jpeg'
                    class='ui massive bordered image centered'>
            </div>
            <div class="eight wide column">
                <div class="text container">
                    <div class="ui segment">
                        <h3>4</h3>
                        <p>Я не настолько крутой чтобы аудирование делать через картинку</p>
                    </div>
                </div>
                <div class="text container">
                    <div class="ui segment">
                        <h3>5</h3>
                        <p>Мне будет трудно рисовать табличку в HTML, просто снизьте балл</p>
                    </div>
                </div>
                <div class="text container">
                    <div class="ui segment">
                        <h3>6</h3>
                        <p>Personal answers</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>
<style>
    .text {
        margin: 10px;
    }

    .container {
        margin-top: 100px !important;
        width: 60% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    div.grid.page {
        max-width: 90%;
        width: 100%;
    }

    img {
        margin: 10px;
    }


    button {
        font-size: 1.3vw !important;
        margin: 10px !important;
    }
</style>

</html>