<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
        crossorigin="anonymous" />
    <title>Picture1</title>
</head>

<body>
    <button class='ui button column huge'><a href='../index.html'>Back to home</a></button>
    <img src='../images/WhatsApp Image 2020-10-12 at 1.31.07 PM.jpeg' class='ui massive bordered image centered'>
</body>
<style>
    .grid {
        margin-top: 100px !important;
        width: 20%;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    button {

        margin: 10px !important;
    }
</style>

</html>